# Ігноруємо папку з датасетом
rock-paper-scissors-14/

# Ігноруємо результати навчання (ваги, графіки)
runs/

# Ігноруємо кеш пітона
__pycache__/
*.pyc

# Ігноруємо важкі файли моделей (щоб не забивати гіт)
*.pt
*.onnx
.env